<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

         <h1>
           FreeCodeCamp API Basejump: URL Shortener Microservice
        </h1>
User stories:
<ul>
  <li>
    I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
  </li>      
    <li>
    When I visit that shortened URL, it will redirect me to my original link.
  </li>  
    <li>
   <p>
     Example creation usage:
      </p> 
<p>
  
      https://teeny.glitch.me/http://www.waynewilliamson.co.uk
</p>
  

  </li>  
        
        
</ul>
        



<p>
  Example creation output
     </p>
<p>
  {"original_url":"http://www.waynewilliamson.co.uk","short_url":"http://teeny.glitch.me/gfxdRo/"}
     </p>
<p>
  Usage:
     </p>
     <p>
       http://teeny.glitch.me/gfxdRo/
     </p>

<p>
  Will redirect to:
     </p>
     <p>
       http://www.waynewilliamson.co.uk
     </p>


   </body>

</html>
